/* Soluzione qui */

@media screen and (min-width : 768px) and (max-width : 991px ){
    #topbar{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .container{
        padding-left: 30px;
        padding-right: 30px;
    }

    .recipe-origin{
        display: inline;
    }

    .quick-notes ul{
        display: flex;
        flex-direction: row;
        gap: 80px;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .social-networks button{
        padding-left: 50px;
        padding-right: 50px;
    }

    .ads{
        display: block;
    }

    .clearfix img{
        margin-right: 10px;
        float: left;
    }

}

@media screen and (min-width :992px){

    #topbar{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    

    .container{
        padding-left: 70px;
        padding-right: 70px;
    }


    .recipe-name{
        font-size: x-large;
    }

    .social-networks button{
        padding-left: 50px;
        padding-right: 50px;
    }

    .social-networks button{
        padding-left: 30px;
        padding-right: 30px;
    }

    .btn .label {
        display: inline ;
    }

    .ads{
        display: block;
    }

    .recipe-card{
        display: flex;
        flex-direction: row;
        align-items: stretch;
        overflow: hidden;
    }

    .recipe-video {
        flex: 0 0 65%; 
        height: auto; 
    }

    
    .recipe-info {
        flex: 0 0 35%;
        background-color: #fff;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center; 
    }

    .clearfix img{
        margin-right: 10px;
        float: left;
    }

    footer{
        display: flex;
        justify-content: space-between;
    }

}
