/* Soluzione qui */

@media screen and (min-width : 768px) and (max-width : 991px ){
    #topbar{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .container{
        padding-left: 30px;
        padding-right: 30px;
    }


}
